# macOS
.DS_Store
*.DS_Store
__MACOSX/
*.Zone.Identifier

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
